name: features_tour
description: Features Tour is a package that enables you to easily create tours to introduce your widget features in your app with order.
version: 0.3.0-rc.6
homepage: https://github.com/lamnhan066/features_tour

screenshots:
  - description: "Introduction"
    path: assets/intro.webp

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter
  shared_preferences: ^2.2.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.1
